@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row" ng-app="app"
     ng-controller="TesteController as vm">
    <div class="col-sm-12">
        <div class="col-sm-3">
            Nome
        </div>
        <div class="col-sm-3">
            Idade
        </div>
        <div class="col-sm-3">
            Dindin
        </div>
        <div class="col-sm-3">
            Data
        </div>
    </div>
    <div class="col-sm-12" ng-repeat="babaca in vm.hometest">
        <div class="col-sm-3">
            {{babaca.Nome}}
        </div>
        <div class="col-sm-3">
            {{babaca.Idade}}
        </div>
        <div class="col-sm-3">
            {{babaca.Dindin | currency: '$'}}
        </div>
        <div class="col-sm-3">
            {{babaca.Data | date: 'dd/MM/yyyy'}}
        </div>

    </div>
</div>

@section scripts {
<!-- Library Scripts -->
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-resource.js"></script>

 <!-- Application Script -->
<script src="~/app/app.module.js"></script>

 <!-- Services -->
<script src="~/common/common.services.js"></script>
<script src="~/common/testeResource.js"></script>

<!-- Controllers -->
<script src="~/app/testeController.js"></script>
}